#headerDiv{

background-color: black;
height: 50px;
color: white;
display: flex;
gap: 55%;
font-size: x-large;
padding-top: 20px;
padding-bottom: 20px;
align-items: center;

}


.pagesUl {
    display: flex;
    text-decoration:none;
}
 .deco{
text-decoration: none;
color: white;
}

li{
    list-style: none;
    padding-left: 30px;
}

#logo img{
    width: 70px;
    padding-bottom: 0px;
    padding-left: 30px;
}